<h1>Admin::Dashboard#show</h1>

<span><h3>There are <%= @products.length %> unique products in the database</h3></span>
<span><h3>There are <%= @categories.length %> categories in the database</h3></span>
